.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0.06s linear;
  height: 100px;
}

.App-header {
  background-color: #191414;
  height: 150px;
  padding: 2em;
  color: #FFFFFF;
}

.App-header span  {
  color: #1DB954;
  font-size: 1.5em;
}

.App-title {
  font-size: 2em;
  margin-top: -0.25em;
}

.App-intro {
  font-size: large;
}
li{
  list-style: none;
}

input{
  margin-top: 2em;
}

.link{
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 900;
}

.link:visited {
  color: #FFFFFF;
}


#welc{
  margin-top: 4em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
