ul{
  color: #FFFFFF
}

.artist img {
  max-width: 160px;
  max-height: 160px;
}

.artist {
    background-repeat: no-repeat;
    background-position: center;
}

.name{
  font-size: 2em;
  font-weight: bold;
}


/* 'linear-gradient( 125deg, rgba(30, 215, 96, 1),rgba(255, 255, 255, 0)), url(' + uri + ')' */
